# Stock Synthesis output to ignore for now
*.sso
*.ss_new
data_boot*
data_expval*
*.cor
*.par
# extra Stock Synthesis model files
admodel.cov
admodel.dep
admodel.hes
checkup.sso
*.tmp
console.output.txt
covar.sso
CumReport.sso
derived_posteriors.sso
echoinput.sso
*.log
gradient.*
ParmTrace.sso
plots*
posterior_obj_func.sso
posterior_vectors.sso
posteriors.sso
rebuild.sso
runnumber.ss
SIS_table.sso
ss.b0*
ss.bar
ss.ecm
ss.eva
ss.exe
ss.log
ss.mc2
ss.mcm
ss.p0*
ss.r0*
ss.rep
ss.std
suggested_tuning.ss
